* {
    font-family: 'Montserrat', sans-serif;
}



.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5c5d5c;
    border-radius: 25px;
    box-shadow: 0px 0px 17px 0px rgba(118, 117, 117, 0.435);
    min-width: 200px;
    margin: 40px 250px;


}

.form {
    min-width: 300px;
    flex: 1;
    text-align: center;
    padding: 40px;
    padding-top: 60px;
}

.form_input {
    width: 90%;
    padding: 7px;
    margin: 10px;
    border: 2px solid #e8e8e9;
    border-radius: 20px;
    outline: none;
}

.form_input:focus {
    outline: none;
}


.form_section-h3 {
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
    color: #1f1f1f;
}

.form_section-span {
    padding: 50px;
    padding-bottom: 0;
    color: #d20929;
}

.form_section-imagine h2 {
    color: #d20929;
    font-weight: 600px;
    padding-bottom: 50px;
}

.form input[type="submit"] {
    background-color: #d5172a;
    color: #ffffff;
    font-weight: 300px;
}

.form input[type="submit"]:hover {
    background-color: #dc2e3d;
}

.form input[type="submit"]:focus {
    background-color: #981329;
}

.form_section-check a {
    text-decoration: none;
}

.form_section-check {
    padding: 20px;
    font-size: 15px;
}

.form_section-check2 label input {
    margin: 20px;
}

::placeholder {
    font-size: 15px;
    padding-left: 10px;
    border: none;
}

.flex-img img {
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    border-radius: 0 25px 25px 0;
    display: block;
}

.made_with {
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    .flex-img img {
        width: 100%;
        max-width: none;
        border-radius: 0 0 25px 25px; /* Eliminar el redondeo de bordes si lo deseas */
    }
    .flex-container{
        flex-wrap: wrap;
        margin: 40px 20px;
    }
}